<html>
<head>
	<title>Registro DomiAppp</title>
	 <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="CSS/estilo.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <meta charset="utf-8">
</head>
<body>
	<main class="sigIn">
   		<div class="contenedor background">
   			<div class="formulario registro">
   				<form action="/add" method="post">
   					<h2>DomiApp</h2>
   					<h3>Para poder seguir debes <a href="/login">iniciar sesión</a></h3>
   					<h3>Para registrate solo necesitas estos datos</h3>
   					<input type="text" name="Nombre" placeholder="Nombre">
            <input type="text" name="Apellido" placeholder="Apellido">
            <input type="text" name="Telefono" placeholder="Telefono">
            <input type="text" name="Direccion" placeholder="Direccion">
            <input type="email" name="Correo" placeholder="email">
   					<button type="submit" >Registrarse</button>
   				</form>
   			</div>
   		</div>
    </main>
</body>
<script src="JS/main.js"></script>
</html>